*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0;
    background-color: rgba(166, 175, 204, 0.692);
}
.card{
    width: 30%;
    height: 20rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.314);
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgba(137, 43, 226, 0.411);
}
.card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.314);
    
}
.card .avatar{
    width:50%;
    border-radius: 20px;
    margin: 4px auto;
    margin-top: 12px;
    display: block; 
    transition: all 0.3s ease-in-out;
}
.card .avatar:hover{
    transform: scale(1.05);
}
.title{
    text-align: center;
    margin-top: 15px;
    font-family: sans-serif;   
}
.email{
    list-style-type: none;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
.email:hover{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    cursor: pointer;
}